# INTRODUCTION TO **PYTHON** üêç

Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected

## Things we are going to cover today.

1. Basic Usage and Variables
2. Conditions and Operators
3. If..Else Statements

### **1. Basic Usage**

In [ ]:
def helloworld():
  """
  This is a test function

  Params : None
  return : true  
  """
  return True

In [ ]:
helloworld()

In [ ]:
a = 45
strInt= f"Hello World {a}"
print(strInt)

# This is how we can comment in python 


"""
This is multi-line 
comments  
"""

#### Integers

In [ ]:
# Python program to 
# demonstrate numeric value

a = 10
b = 2.71
c = 2 + 4j

print("Type of a: ", type(a))
print("Type of b: ", type(b))
print("Type of c: ", type(c))

#### String
In Python, Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.

In [ ]:
# Python Program for
# Creation of String
	
# Creating a String
# with single Quotes
String1 = 'Welcome to the "Gujarat University"'
print("String with the use of Single Quotes: ")
print(String1)
	
# Creating a String
# with double Quotes
String1 = "I'm a Student"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))
	
# Creating a String
# with triple Quotes
String1 = '''I'm a Gujarat University Student and I live in a world of "Tech"'''
print("\nString with the use of Triple Quotes: ")
print(String1)
print(type(String1))

# Creating String with triple
# Quotes allows multiple lines
String1 = '''

Geeks
For
Life
'''
print("\nCreating a multiline String: ")
print(String1)

#### Lists

In [ ]:
# Python program to demonstrate  
# Creation of List  
    
# Creating a List 
List = [] 
print("Initial blank List: ") 
print(List) 
    
# Creating a List with  
# the use of a String 
List = ['Gujart University'] 
print("\nList with the use of String: ") 
print(List) 
    
# Creating a List with 
# the use of multiple values 
List = ["Gujarat", "University", "2022"] 
print("\nList containing multiple values: ") 
print(List[0])  
print(List[2]) 
    
# Creating a Multi-Dimensional List 
# (By Nesting a list inside a List) 
List = [['Gujarat', 'University'], ['2022']] 
print("\nMulti-Dimensional List: ") 
print(List)

#### Set

In [ ]:
# Python program to demonstrate
# creation of Set
	
# Creating an empty tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print (Tuple1)
	
# Creating a Tuple with
# the use of Strings
Tuple1 = ('Geeks', 'For')
print("\nTuple with the use of String: ")
print(Tuple1)
	
# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

# Creating a Tuple with the
# use of built-in function
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

# Creating a Tuple
# with nested tuples
Tuple1 = (0, 1, 2, 3)

Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1, Tuple2)

print("\nTuple with nested tuples: ")
print(Tuple3)

In [ ]:
# Python program to demonstrate  
# Creation of Set in Python 
    
# Creating a Set 
set1 = set() 
print("Initial blank Set: ") 
print(set1) 
    
# Creating a Set with  
# the use of a String 
set1 = set("pythonforLife") 
print("\nSet with the use of String: ") 
print(set1) 
  
# Creating a Set with 
# the use of a List 
set1 = set(["Coders", "are", "Coders"]) 
print("\nSet with the use of List: ") 
print(set1) 
  
# Creating a Set with  
# a mixed type of values 
# (Having numbers and strings) 
set1 = set([1, 2, 'university', 4, 'For', 6, 'university']) 
print("\nSet with the use of Mixed Values") 
print(set1)

In [ ]:
# Python program to demonstrate
# Accessing of elements in a set
	
# Creating a set
set1 = set(["student", "are", "coding"])
print("\nInitial set")
print(set1)
	
# Accessing element using
# for loop
print("\nElements of set: ")
for i in set1:
	print(i, end =" ")
	
# Checking the element
# using in keyword
print("conding" in set1)

#### Dictionary

In [ ]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)
	
# Creating a Dictionary
# with Integer Keys
Dict = {1: 'Gujarat', 2: 'University'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)
	
# Creating a Dictionary
# with Mixed keys
Dict = {'Name': 'Gujarat', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)
	
# Creating a Dictionary
# with dict() method
Dict = dict({1: 'Gujarat', 2: 'University', 3:'EDA'})
print("\nDictionary with the use of dict(): ")
print(Dict)
	
# Creating a Dictionary
# with each item as a Pair
Dict = dict([(1, 'Gujarat'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

### **2. Operators in Python**

Operators are used to perform operations on variables and values.
In the example below, we use the + operator to add together two values:

[Click Here to read more](https://www.w3schools.com/python/python_operators.asp)

In [ ]:
x = 10
y = 15

print(x + y)
print(x - y)
print(x * y)
print("%.2f" % (x/y))
print(round((x/y), 2))
print(x % y)
print(x ** y)
print(y // x)

In [ ]:
x = 86
y = 86

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

In [ ]:
x = 91

print((x > 80) & (x < 90))

In [ ]:
x = 84
y = 90
x is y

### **3. Python If ... Else**

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")
else:
  print("a is greater than b")

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
# Short Hand Technique 
a =130
b = 130

if a > b: print("a is greater than b")

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

In [ ]:
# Ternary Operators
#   condition ? exprIfTrue : exprIfFalse

a = 90
b = 90
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

# Exercise üôÜ

In [ ]:
# Make a dictionary with atleast 5 countries and their capitals.

In [1]:
dict = {'canada':'ottawa', 'UK':'london', 'USA':'washington','india':'Delhi' ,'bangladesh':'DHAKA'}
dict

{'canada': 'ottawa',
 'UK': 'london',
 'USA': 'washington',
 'india': 'Delhi',
 'bangladesh': 'DHAKA'}

In [ ]:
# Make a program to check whether a number is divisible by 7 or not.

21
Yess

In [3]:
num = int(input("Enter num to check: "))
if num %7==0:
    print('Divisible')
else:
    print('Not Divisible')

Enter num to check: 7
Divisible

In [ ]:
# Make a program to convert Celsius and Fahrenheit. # use input function to take user input.

44
111.2

In [8]:
celcius = int(input('Enter celcius to conver into fahrenheit \n'))
f=int(celcius*1.8+32)
print(celcius,'celcius = ',f,'fahrenheit')

Enter celcius to conver into fahrenheit
30
30 celcius =  86 fahrenheit

In [ ]:
# Make a program that checks the string contains this list of words 
# Delhi, Ahmedabad, Mumbai, India, Students, Python

students
No

In [16]:
list = ['Delhi', 'Ahmedabad', 'Mumbai', 'India', 'Students', 'Python']
word = input("Enter word to search in list :\n")
for i in list:
    if i in list:
        print("Word found")
        break
    else:
        print("Not Found")
        break

Enter word to search in list :
delhi
Word found

In [ ]:
 a= "THEMORNINGISFILLEDWITHAMAZINGSUNSHINE"
a[3::-1]

'MEHT'